html,body{
min-width:0px;
color:black;

}

#navbar{
    position:fixed;
    min-width:200px;
    top:0px;
    left:0px;
    padding:5px;
    width:200px;
    height:100%;
    border-right:solid;
    border-color:paleturquoise;
    background-color:white;
}

nav ul{
    height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
nav li{
    color:coral;
    border-top:1px solid;
    list-style: none;
    position:relative;
    width:100%

}
#navbar a {
    display: block;
    padding: 10px 1px;
    color: #4d4e53;
    text-decoration: none;
    cursor:cursor;
  }


.header{
    font-size:4rem;
    font-weight:bold;
    font-align:center;
} 

/*essentially start the text x amount pixels away from the side of the nav bar*/
#main-doc{
    position:absolute;
    margin-left:200px;
    padding:1px;
    margin-bottom:10px;
    border:10px solid;
}

section article{
    color: #4d4e53;
    margin: 1px;
    font-size: 0.96em;
}
/*for smaller screens */
@media only screen and (max-width:800px)
{
    #navbar{
        position:absolute;
        width:100%;
        top:0px;
        padding: 0;
        max-height:300px;
        border-color:black;
        border-bottom: 3px solid;
        background-color:white;
        z-index:1;
    }

    nav ul{
        display:flex;
        list-style-type: none;
        border: 1px solid;
        height:200px;
        overflow-x:hidden;
        overflow-y:scroll;
    }
    #main-doc{
        position:relative;
        margin-top:210px;
        margin-left:0px;
        padding:10px;
        width:100%;
        overflow-x:hidden;
        overflow-y:scroll;
    }
}