*{
    box-sizing:border-box;
}

body{
    background-color: aquamarine;
}
.flex-container{
    display:flex;
    flex-direction:row;
}

@media (max-width:800px){
    .flex-container{
flex-direction:column;
    }
}

.panel{
    text-align:center;
    font-size:2rem;
    background-color: beige;
    max-width:70%;
    margin:10px;
    
}


h1{
    text-align:center;
}

.fakeimg{
    background-color: blueviolet;
    width:100%;
padding:20px;
}

img{
    max-width:100%;
    height:auto;
    align-self: center;
}

